body{
	background-image: url(../photos/double-bubble-outline.png) ;
	background-repeat:repeat;
}
a{

	color:#000000;
	text-decoration: none;
}

.login {
	display: flex;
	justify-content: center;
	font-family: Helvetica;
	width:400px;
	height: 400px;
	background-color: white;
	margin-left: 35%;
	margin-right: 40%;
	margin-top: 10%;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.login-2{
	display: flex;
	justify-content: center;
	border:1px solid silver;
}




.content{
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
	/*background-color: #FFF7DD;*/
	min-height: 400px;
	margin-bottom: 10px;
}

.content-main{
	
	min-height:250px;
	min-width: 250px;
	/*background-color: white;*/
	box-shadow: 0 0 7px rgba(0,0,0,0.9);
	margin: 25% 30% 0 0%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	text-align: center;
	background: white;


}
	#content-main-p{
		text-align: center;

	}
.content-main-input{
	text-align: center;
	width: 45%;
	border: 1px solid #77f7ff;
}

.content-main-button{
	width: 46%;
	border: 1px solid black;
	font-size: 14pt;
	padding: 1px;
}
	.content-main-button:hover {
		border: 1px solid silver;
	}

.border{
	border-radius: 25px;
}


/* autorized */
.content-up{
	display: flex;
	justify-content: center;
	min-width: 80%;
	margin-top: 5%;
}

.content-block{
		min-height: 100px;
		max-height: 150px;
		min-width: 20%;
		margin-left: 100px;
		margin-right: 100px;
		margin-bottom: 10px;
		background-color: white;
		box-shadow: 0 0 7px rgba(0,0,0,0.5);
		
	}

.exit {
	display: flex;
	justify-content: center;
	/*padding-top: 20px;*/

	min-width: 1%;
	min-height: 50px;
	max-height: 100px;
	max-width: 5%;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	background-color: white;
}
.exit-align{
	margin-top: 15px;
	margin-bottom: 15px;
}
.exit-align:hover {
	background-color: orange;
}
.content-align{
	margin-top: 40px;
	margin-left:80px;
}