a{
	color:#fff;
	text-decoration: none;
}
.header{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: #689CD2;
	color: #fff;
	font-family: Helvetica;
}

.header_section{
	display: flex;
	align-items: center;
}
.logo{
	max-height: 100px;
	max-width: 100px;
}

.header_item{
	padding: 20px 20px;
	font-size: 25px;
	margin-left: 5px;
}

.header_item:hover{
	background-color: #FF9900;
	border-radius: 4px;
}