a{
	color:#000000;
	text-decoration: none;
}

body{
	background-image: url(photos/double-bubble-outline.png) ;
	background-repeat:repeat;
}



		/* -- Header -- */
		
.header{
	display: flex;
	justify-content: center;
	padding: 10px;
	/*color: #FFFFFF;*/
	font-family: Helvetica;
	align-items: left;
	margin-right: 10px;


}

.header_section1{
	/*background: #FFFFFF;*/
	display: flex;
	align-items: center;

}

.header_section2{
	/*background: #FFFFFF;*/
	display: flex;
	align-items: center;
	margin-left: 100px;
}
.logo{
	justify-content: center;
	display: flex;
}
.img{
	height: 150px;
	width: 150px;
}
.header_item{
	padding: 10px 10px;
	font-size: 25px;
	margin-left: 5px;
}

.header_item:hover{
	background-color: #FF9900;
	border-radius: 4px;
}

.header_Btn{
	cursor: pointer;
}

		/* -- Content -- */

.content{
	display: flex;
	flex-direction: column;
	/*background-color: #FFF7DD;*/
	min-height: 400px;

}

.border{
	border-radius: 25px;

}
.content-up{
	display: flex;
	justify-content: center;
	min-width: 80%;
}
	.content-block{
		min-height: 150px;
		max-height: 250px;
		min-width: 49%;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		background-color: white;
		box-shadow: 0 0 7px rgba(0,0,0,0.5);
		
	}

.content-down{
	
	min-height:250px;
	min-width: 150px;
	background-color: white;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	margin-bottom: 10px;
}

		/* -- Footer -- */

.footer{
	display: flex;
	justify-content: space-between;
	border-radius: 25px;
	/*background-color: #7fffff;*/
	background: linear-gradient(#7fffff, white);
	padding: 0 20px 0 20px;
}
