a{
	color:#000000;
	text-decoration: none;
}
.header{
	display: flex;
	justify-content: center;
	padding: 10px;
	color: #FFFFFF;
	font-family: Helvetica;
	align-items: left;
	margin-right: 10px;
}

.header_section1{
	background: #FFFFFF;
	display: flex;
	align-items: center;
}

.header_section2{
	background: #FFFFFF;
	display: flex;
	align-items: center;
	margin-left: 100px;
}
.logo{
	justify-content: center;
	display: flex;
}
.img{
	height: 150px;
	width: 150px;
}
.header_item{
	padding: 10px 10px;
	font-size: 25px;
	margin-left: 5px;
}

.header_item:hover{
	background-color: #FF9900;
	border-radius: 4px;
}

.header_Btn{
	cursor: pointer;
}